<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Automated Deploy Pipeline Using CI/Cd and via Github Actions</title>
</head>
<body>
    <h1>Automated Deploy Pipeline Using CI/Cd and via Github Actions</h1>
    <p><%= message %></p>
</body>
</html>
